
<div class="card col-lg-4 offset-4 detalhe-rikishi">
  <div class="card-body">
    <h5 class="card-title">{{ rikishi.shikona }}</h5>
    <hr>
    <p> <strong>Id:</strong> {{ rikishi.id }}</p>
    <p> <strong>Shikona:</strong> {{ rikishi.shikona }}</p>
    <p> <strong>Heya:</strong> {{ rikishi.heya }}</p>
    <p> <strong>Ranking:</strong> {{ rikishi.posRank }}</p>
    <p> <strong>Favorite Grip:</strong> {{ rikishi.favoriteGrip }}</p>

    <div class="d-flex mt-3">
        <button class="btn btn-outline-success me-auto" routerLink="/home">Back</button>
        <button class="btn btn-success me-3" routerLink="/Update">Edit</button>
        <!-- <button (click)="deleteConfirm(rikishi)" class="btn btn-danger"
        data-toggle="modal" data-target="#modalDeleteRikishi">Delete</button> -->
        <button class="btn btn-danger"
        data-toggle="modal" data-target="#modalDeleteRikishi">Delete</button>
      </div>
  </div>
</div>

<div id="modal-delete-container">
  <app-modal-delete
    [statusDelete]="monitoraStatusDelete$"
    [rikishiDel]="rikishiDel"
   ></app-modal-delete>
</div>
