h1 {
    color: rgb(49, 12, 149);
    font-family: cursive 
 }
p {
    color: black;

}

.jumbotron {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
}

img {
    width: 200px;
}

.gunbai {
    display: flex;
    align-items: center;
}