<button class="btn btn-success mb-3 ms-3" routerLink="/Create">New rikishi</button>
<table class = "table table-striped table-bordered">
<thead>
  <tr>
      <th> Id </th>
      <th> Shikona </th>
      <th> Heya </th>
      <th> Rank </th>
      <th> Favorite Grip </th>
  </tr>
</thead>

<tbody> 
<tr *ngFor="let rikishi of rikishi$ | async">
  <td> {{rikishi.id}} </td>
  <td> <a href="./Details/{{rikishi.id}}"> {{rikishi.shikona}} </a></td>
  <td> {{rikishi.heya}} </td>
  <td> {{rikishi.posRank}} </td>
  <td> {{rikishi.favoriteGrip}} </td>
  <td><button type="button" class="btn btn-outline-success" routerLink="/Update">Update</button></td>
</tr>
</tbody>
</table>