<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="gunbai">
      <div>
        <h2>Konichiwa, sumo fans!</h2>
        <p class="lead">
          Feel free to enjoy, share and contribute to this website!
        </p>
      </div>
      <img src="assets\gunbai.jpg" />
    </div>
    <h1 class="display-4">Hakkeyoi!</h1>
  </div>
</div>


<button class="btn btn-success mb-3 ms-3" routerLink="/Create">New rikishi</button>
<form (ngSubmit)="onSubmit()">
  <input
  type="number"
  class="form-control"
  id="id"
  [(ngModel)]="rikishi.id"
  name="id"
 placeholder="Type the rikishi id"/>
  <button class="btn btn-success mb-3 ms-3">Go to</button>
</form>

<table class = "table table-striped table-bordered">
<thead>
  <tr>
      <th> Id </th>
      <th> Shikona </th>
      <th> Heya </th>
      <th> Rank </th>
      <th> Favorite Grip </th>
  </tr>
</thead>

<tbody> 
<tr *ngFor="let rikishi of rikishi$ | async">
  <td> {{rikishi.id}} </td>
  <td> <a href="./Details/{{rikishi.id}}"> {{rikishi.shikona}} </a></td>
  <td> {{rikishi.heya}} </td>
  <td> {{rikishi.posRank}} </td>
  <td> {{rikishi.favoriteGrip}} </td>
</tr>
</tbody>
</table>