/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    background-color: rgb(233, 234, 236);
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family:'Lobster', cursive;
}
hr {
    margin: 0;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

